* {
    font-family: 'Delius', cursive;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/** {
    border: 1px solid red !important;
}*/

.flex-display {
    display: flex;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.container-fluid {
    padding-left:0px;
    padding-right:0px;
}

.portrait {
    border-radius: 100%;
    width: 150px;
    margin: 20px;
}

.rowmenu {
    margin: 10px;
    margin-top: 10px;
    font-size: large;
    color: black;
}

.background {
    background: url("../assets/portfolio-background.jpg");
    background-size:100% auto;
    background-repeat:no-repeat;
    padding: 130px;
}

.name {
    font-size: xx-large;
    color: black;
    font-weight: bolder;
}

.subname {
    font-size: large;
    color: black;
}

.icons {
    color: black;
    margin: 10px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects-header {
    margin: 30px;
}

.project-group {
    margin: 10px;
}

.project-icon {
    padding: 10px;
}

.project-library-icon {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.project-title {
    color: black;
    font-weight: bold;
}

#project a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
}

.skill-row {
    border-radius: 5px;
    margin: 5px;
    background-color: gainsboro;
}

.skill-tag {
    width: 20%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px 0px 0px 5px;
}

.skill-bar {
    height: 100%;
    margin: 0px;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
}
